<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UltimateFrisbee WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UltimateFrisbee WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UltimateFrisbee WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UltimateFrisbee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CC0438A1DA46D59001B2A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC0439E1DA46D5A001B2A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC043A91DA46D5A001B2A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC043B21DA46D5A001B2A2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
